.app {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

.main {
    padding-top: 60px; // Adjust based on your header height
}

/* Global styles */
:global(body) {
    margin: 0;
    padding: 0;
}

:global(section) {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #14213D;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FCA311;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #14213D #f1f1f1;
}

/* For Firefox on macOS */
@supports (-moz-appearance: none) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #14213D #f1f1f1;
    }
}

/* For Internet Explorer */
body {
    -ms-overflow-style: none;
}